<div class="content">
    <h1 style="text-align: center">Contact</h1>
    <form name="contactForm" ng-submit="sendMessage()" novalidate>
        <input type="text" placeholder="Name" name="name" ng-model="contact.name" ng-required="true">
        <div ng-show="contactForm.name.$touched && contactForm.name.$invalid">
            <small style="color: red; display: block; text-align: center">Enter a valid name.</small>
        </div>
        <input type="email" placeholder="Email" name="email" ng-model="contact.email" ng-required="true">
        <div ng-show="contactForm.email.$touched && contactForm.email.$invalid">
            <small style="color: red; display: block; text-align: center">Enter a valid email.</small>
        </div>
        <textarea placeholder="Your Message" name="message" ng-model="contact.message" ng-required="true"></textarea>
        <div ng-show="contactForm.message.$touched && contactForm.message.$invalid">
            <small style="color: red; display: block; text-align: center">Enter a message.</small>
        </div>

        <input type="submit" value="Send" ng-disabled="contactForm.$invalid">
    </form>
</div>